<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>

<body style="

    font-family: Arial, Helvetica, sans-serif;

    width: 21cm;

    height: 29.7cm;

    padding: 0.1rem;">
    <header>
        <table style="text-align: center;

            border-collapse: collapse;

            width: 100%;

            margin-bottom: 1rem;font-size: 0.8rem;">
            <tr>
                <td style="width: 15%;
                padding: 0.1rem 0.2rem;">
                    {0}
                </td>
                <td style="width: 70%;
                padding: 0.1rem 0.2rem;">
                    {1}
                </td>
                <td style="width: 15%;
                padding: 0.1rem 0.2rem;">
                    {2}
                </td>
            </tr>
        </table>

        <table id="header-table" style="text-align: center;

            border: 1px solid black;

            border-collapse: collapse;

            width: 100%;

            margin-bottom: 1rem;font-size: 0.8rem;">
            <tr>
                <td style="
                padding: 0.1rem 0.2rem;" colspan="3">
                    {3}
                </td>
            </tr>
            <tr>
                <td style="
                padding: 0.1rem 0.2rem;padding: 0.3rem 0.2rem;" colspan="3">
                    <span style="margin: 0 0.5rem;">
                        {4}
                    </span>
                    <span style="margin: 0 0.5rem;">
                        {5}
                    </span>
                    <span style="margin: 0 0.5rem;">
                        {6}
                    </span>
                </td>
            </tr>

            <tr>
                <td style="border: 1px solid black;width: 15%;
                padding: 0.1rem 0.2rem;"></td>
                <td style="border: 1px solid black;width: 70%;
                padding: 0.1rem 0.2rem;">
                    <i>{7}</i> {8}
                </td>
                <td style="border: 1px solid black;width: 15%;
                padding: 0.1rem 0.2rem;" rowspan="4">
                    {9}
                </td>
            </tr>

            <tr>
                <td style="border: 1px solid black;text-align: right;width: 15%;
                padding: 0.1rem 0.2rem;">
                    Firma:
                </td>

                <td style="border: 1px solid black;text-align: left;width: 15%;
                padding: 0.1rem 0.2rem;">
                    {10}
                </td>
            </tr>

            <tr>
                <td style="border: 1px solid black;text-align: right;width: 15%;
                padding: 0.1rem 0.2rem;">
                    Obiekt:
                </td>

                <td style="border: 1px solid black;text-align: left;width: 15%;
                padding: 0.1rem 0.2rem;">
                    {11}
                </td>
            </tr>

            <tr>
                <td style="border: 1px solid black;text-align: right;width: 15%;
                padding: 0.1rem 0.2rem;">
                    Element:
                </td>

                <td style="border: 1px solid black;text-align: left;width: 15%;
                padding: 0.1rem 0.2rem;">
                    {12}
                </td>
            </tr>
        </table>
    </header>

    <section>
        <table id="main-table" style="text-align: center;

            border: 1px solid black;

            border-collapse: collapse;

            width: 100%;

            margin-bottom: 1rem;font-size: 0.75rem;">
            <tr>
                <td style="padding: 0.1rem 0.2rem;
                border: 1px solid black;width: 5%;">
                    Lp.
                </td>

                <td style="padding: 0.1rem 0.2rem;
                border: 1px solid black; width: 10%;">
                    Numer Artykułu
                </td>

                <td style="padding: 0.1rem 0.2rem;
                border: 1px solid black;width: 35%;">
                    Nazwa
                </td>

                <td style="padding: 0.1rem 0.2rem;
                border: 1px solid black;width: 5%;">
                    Jednostka miary
                </td>

                <td style="padding: 0.1rem 0.2rem;
                border: 1px solid black;width: 10%;">
                    Ilość
                </td>

                <td style="padding: 0.1rem 0.2rem;
                border: 1px solid black;width: 10%;">
                    Waga elementu [kg]
                </td>

                <td style="padding: 0.1rem 0.2rem;
                border: 1px solid black;width: 10%;">
                    Waga łącznie [kg]
                </td>

                <td style="padding: 0.1rem 0.2rem;
                border: 1px solid black;width: 15%;font-size:x-large;">
                    ⚠
                </td>
            </tr>
            {13}




            <tr style="border: 1px solid transparent;">
                <th style="padding: 1rem 0;text-align: right;" colspan="6">
                    Waga zestawu [kg] :
                </th>

                <th style="padding: 1rem 0;">
                    {14}
                </th>
            </tr>
            <tr style="border: 1px solid transparent;">
                <th style="text-align: right;padding-bottom: 3rem;" colspan="6">
                    Powierzchnia zestawu [m²] :
                </th>

                <th style="padding-bottom: 3rem;">
                    {15}
                </th>
            </tr>

            {18}

        </table>
    </section>

    <footer>
        <div style="display: grid;
            gap: 2rem;
            grid-template-columns: 1fr 1fr;">
            <div>
                {16}
            </div>

            <div>
                <div style="float: left;">
                    <b>
                        Transport:
                    </b>
                </div>
                <div style="float: left;
                    border-bottom: 1px solid black;
                    padding-bottom: 0.2rem;
                    min-width: 5rem;
                    word-break: break-all;padding-left:0.5rem">
                    {17}
                </div>
            </div>

            <div>
                <h5 style="margin-bottom: 2rem;">przekazujący</h5>

                <div style="border-bottom: 1px dotted black;
                word-break: break-all;">

                </div>
            </div>

            <div>
                <h5 style="margin-bottom: 2rem;">odbierający</h5>

                <div style="border-bottom: 1px dotted black;
                word-break: break-all;">

                </div>
            </div>

        </div>
    </footer>


</body>
</html>