<table style="margin: 0 auto;width: 100%;border-collapse: collapse;margin-bottom: 0.8rem;">

    {0}

    {1}

    {2}

    {3}


    <tr>
        <td colspan="8" style="padding-top: 2rem;"></td>
    </tr>
    <tr>
        <td colspan="7" style="text-align: right;padding: 0.1rem 2rem;">
            {4}
        </td>

        <td style="text-align: right;padding: 0.1rem 0.2rem;">
            {5}
        </td>
    </tr>
    <tr>
        <td colspan="7" style="text-align: right;padding: 0.1rem 2rem;">
            {6}
        </td>

        <td style="text-align: right;padding: 0.1rem 0.2rem;">
            {7}
        </td>
    </tr>
    <tr>
        <td colspan="7" style="text-align: right;padding: 0.1rem 2rem;">
            {8}
        </td>

        <td style="text-align: right;padding: 0.1rem 0.2rem;">
            {9}
        </td>
    </tr>
</table>