<header style="margin-bottom: 0.8rem;
                border-bottom: 1px solid black;">

    <div style="text-align: center;font-size: 1.2rem;">
        <div style="font-weight: bold;display: inline;">{0}&nbsp;</div> 
        <div style="display: inline;">{1}</div>
    </div>

    <table style="width:100%;
        margin-bottom: 1rem;">
        <tr>
            <td style="width:1%;white-space: nowrap;padding-right: 1rem;">
                <div>{2}</div>
                <div>{3}</div>
                <div>{4}</div>
                <div>{5}</div>
            </td>

            <td>
                <div>{6}</div>
                <div>{7}</div>
                <div>{8}</div>
                <div>{9}</div>
            </td>

            <td style="width:40%">
                {10}
            </td>

        </tr>
    </table>
</header>